
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
header {
    background-color: #013220;
    color: gold;
    padding: 20px;
    text-align: center;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
.hero img {
    width: 100%;
    height: auto;
}
footer {
    background-color: #013220;
    color: white;
    text-align: center;
    padding: 10px 0;
}
